.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: palegreen;
    border-style: solid;
    border-width: 1px;
    border-color: gray;

}

button:disabled {
    background-color: lightgray;
}

h3 {
    text-align: center;
}

.nearMaxMass {
    color:rgb(165, 17, 17);
    font-weight:bold;
    font-size:18px;
}

#empty{
    background-color:orange;
}